@import "projectStyle";

.loginCard{
    padding-top: 59px;
    margin: 0 auto;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-80%);
    -webkit-transform: translateX(-50%) translateY(-80%);
    transform: translateX(-50%) translateY(-80%);

}
.flexWrapperOne {
    background-color: $white;
    border-radius: 17px;
    padding: 132px 30px 30px 30px;
    box-shadow: 0 3px 20px 3px $transparent-black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.nomDutilisateur {
    width: 152px;
@include roboto-18-light;
    color: $transparent-black-2;
    margin-left: 2px;
}
.line1 {
    width: 379px;
    height: 1px;
    background-color: $black-coffee;
    margin-left: 2px;
}
.motDePasse {
@include roboto-18-light;
    color: $transparent-black-2;
    margin-bottom: 6px;
    margin-left: 2px;
}
.line2 {
    width: 379px;
    height: 1px;
    background-color: $black-coffee;
}

.connexion {
    width: 77px;
@include roboto-16-regular;
    color: $white;
}
.flexWrapperThree {
    background-color: $blue-crayola;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    text-align: center;
    align-items: center;
    position: absolute;
    left: 37%;
    top: 0;
}
.a2b {
@include roboto-condensed-40-regular;
    color: $white;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.center{
    text-align: center;
    margin: 20px auto 0;
}

.connexionButton {
    background-color: $blue-crayola;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.primaryColor {
    color: $blue-crayola;
}

.backgroundColor {
    background-color: #f0f0f0;
}
.paddingTop {
    padding-top: 20px;
}

.cardShadow {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.background {

    background-image: url("../image/loginBackground.svg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer {
    margin-top: 1rem;
    padding: 1rem;
    background-color: $black-coffee;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
}
